<app-navigation-bar></app-navigation-bar>
<div class="flex justify-center mt-32 w-full md:inset-0">
  <div class="flex justify-center p-4 w-full">
    <!-- Modal content -->
    <div class=" p-4 bg-white rounded-lg  sm:p-5">
      <!-- Modal header -->
      <div class="flex flex-col items-start justify-between gap-16  xl:flex-row">
        <div class=" p-8 bg-white rounded-lg border-gray-400 shadow-md">

          <div class="flex items-center pb-4 mb-4 rounded-t border-b sm:mb-5">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Profile</h3>
          </div>

          <div class="h-64 w-64 bg-black relative flex items-center justify-center rounded-full">
            <div class="flex flex-col h-64 w-64 items-center justify-center">
              <img class="h-64 w-64 rounded-full object-cover" src="{{user.imageName}}" alt="profile">
            </div>
            <div >
              <label for="dropzone-file" class="absolute left-0 top-0 h-full w-full z-1 flex flex-col col-2 items-center justify-center rounded-full cursor-pointer bg-transparent hover:bg-gray-200 hover:bg-opacity-50">
                <!-- Tooltip -->
                <h2 class="absolute bottom-17 left-1/2 transform -translate-x-1/2 px-3 py-2 text-gray-900 bg-white rounded-lg shadow-md hover:bg-gray-50 dark:hover:bg-gray-700 opacity-0 hover:opacity-100 transition-opacity text-nowrap">
                  Import Image
                </h2>
                
              </label>
              <input id="dropzone-file" type="file" class="hidden" (change)="uploadAvatar($event)" />
            </div>
          </div>
          


          <p class="mt-8 text-center font-normal text-gray-500 dark:text-gray-400">Username: <span
              class="font-medium">#{{user.username}}</span></p>
        </div>


        <div class="block p-8 md:p-16 max-w-full bg-white rounded-lg border-gray-400 shadow-lg">
          <div class="grid gap-x-12 lg:gap-x-24 gap-y-6 mb-4 ">
            <div class="lg:col-span-2">
              <h3 class="mb-8 text-2xl font-bold tracking-tight text-gray-900">User Information</h3>
            </div>
            <div>
              <p for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</p>
              <p>{{ user.username }}</p>
            </div>
            <div>
              <p for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First name</p>
              <p>{{ user.firstname }}</p>
            </div>

            <div>
              <p for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last name</p>
              <p>{{ user.lastname }}</p>
            </div>
            <div>
              <p for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</p>
              <p>{{ user.email }}</p>
            </div>

          </div>
          <a routerLink="../editprofile"
            class="cursor-pointer mt-5 text-white inline-flex items-center float-right bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Edit Info
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<app-ai> </app-ai>