<div
    class="w-full max-w-full h-full  bg-white border border-gray-200 rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 ">
    <section class="bg-white dark:bg-gray-900">
        <div class=" mx-auto max-w-screen-xl text-center p-4">

            <h1
                class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-gray-900  lg:text-4xl dark:text-white">
                Dashboard </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
                See the general overview in our dashboard.
            </p>

        </div>
    </section>
</div>